@charset "utf-8";

@import "lib/settings";
@import "lib/mixins";
@import "lib/bootstrap";
@import "lib/fonts";
@import "lib/sidebar";
@import "lib/ionic";
@import "lib/util";

html, body {
    overflow: hidden;
}

#app {

    > header {

        overflow: hidden;
        background-color: #fff;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            width: 30%;
            left: 0;
            top: 0;
        }

        @media (min-width: $screen-md-min) {

        }

        @media (min-width: $screen-xl-min) {
            width: 20%;
        }

    }

    > main {

    }

    ul {
        margin-bottom: 0;
    }

    strong {
        @include font-bold;
    }

}

.iscroll {
    overflow: auto;
    position:relative;
}

.logo {

    display: block;
    line-height: 2.5;
    @include font-nixie;
    text-align: center;
    font-size: 1.2em;

    &:hover,
    &:active {
        text-decoration: none;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 1.5em;
    }

    @media (min-width: $screen-md-min) {
        font-size: 2em;
    }

}

.load-more {
    cursor: pointer;
}

@import "lib/symptoms-panels";

@import "lib/drug-list";

@import "lib/details-panel";
